<div class="card border-primary">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de Clientes</h5>
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']"> Crear Cliente</button>
    </div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="clientes?.length == 0">
      <strong>Info!</strong> No hay registros en la db.
    </div>
    <table class="table table-bordered table-striped" *ngIf="clientes?.length > 0">
      <thead>
      <tr>
        <th>id</th>
        <th>nombre</th>
        <th>apellido</th>
        <th>email</th>
        <th>fecha</th>
        <th colspan="2">Acción</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{cliente.id}}</td>
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.apellido}}</td>
        <td>{{cliente.email}}</td>
        <td>{{cliente.createAt}}</td>
        <td>
          <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form',cliente.id]"> Editar</button>
          </div>
        </td>
        <td>
          <div class="my-2 text-left">
            <button class="btn btn-rounded btn-danger" type="button" (click)="delete(cliente)"> Eliminar</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
